.projects-container {
    padding-bottom: 40px;
    border-bottom: 1px solid #373737ff;
    width: 100%;
}

.projects-container h3 {
    margin-bottom: 30px;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}
