.experience-item-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding-bottom: 12px;
}

.experience-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.period-text {
    white-space: nowrap;
    margin-left: 20px;
}

.experience-subheader-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.location-text {
    white-space: nowrap;
    margin-left: 20px;
}
