.content-container {
    border: 2px solid violet;
    display: grid;
    /* gap: 20px; */
    grid-template-columns: 1fr; /* mobile: colonna unica */
}

/* Desktop ≥ 800px → 2 colonne */
@media (min-width: 800px) {
    .content-container {
        grid-template-columns: 1fr 1fr;
    }
}
