.header-container {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-bottom: 160px;
}

.header-title {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-language {
    position: relative;
    z-index: 1;

    display: flex;
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;

    padding: 4px 8px;
    color: #ababab;
    transition: color 0.2s;

    font-family: var(--font-base);
    font-weight: 700;
    font-size: var(--header-title-second-font-size-mobile);
}

.language-button.active {
    color: #ffffff;
}