.link-arrow-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    
    gap: 3px;
    
    color: #ababab; 
    transition: color 0.2s ease, background-color 0.2s ease;
}

.link-arrow-container:hover {
    color: #ffffff;
}

.link-text {
    color: inherit !important; 
}

.link-arrow-mask {
    width: 14px;
    height: 14px;
    
    margin-top: 3px; 

    background-color: currentColor;
    -webkit-mask-image: var(--icon-url);
    mask-image: var(--icon-url);
    
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

