@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Fonts */
    --font-base: "Schibsted Grotesk", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    --font-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: var(--font-base);
}

.container {
    width: min(1280px, 100%);
    margin: 0 auto;
    padding: 20px 30px 10px 30px;
}